/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  color: #815e08;
  background-color: white ;
  background-color: black ;
  font-family: 'Gill Sans', 'Gill Sans MT' , Arial , sans-serif ;
  text-align: center ;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  /*padding: 60px 15px 0;*/
  /*margin-top: 60px;*/
}
.container .text-muted {
  margin: 20px 0;
  color: #815e08;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Need to integrate this with a fuller concept */
#footer-top {
/*  color: #fff;
  background-color: #815e08 ;
  padding: 2px 0 2px;
  height: 2px;
  transform:          rotate(2deg) scale(1) skew(0deg) translate(0px);
  -webkit-transform:  rotate(2deg) scale(1) skew(0deg) translate(0px);
  -moz-transform:     rotate(2deg) scale(1) skew(0deg) translate(0px);
  -o-transform:       rotate(2deg) scale(1) skew(0deg) translate(0px);
  -ms-transform:      rotate(2deg) scale(1) skew(0deg) translate(0px);*/
}

